<a href="https://colab.research.google.com/github/ManthanVerma7/TIET-SS-MiniProject-01-PythonAssignment/blob/main/(TIET_SS)_Mini_Project_01_Python_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1

In [ ]:
# Initial list
L = [11, 12, 13, 14]

In [ ]:
# (i) Add 50 and 60 to L
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(f"After adding 50 and 60: {L}")

After adding 50 and 60: [11, 12, 13, 14, 50, 60]

In [ ]:
# (ii) Remove 11 and 13 from L
L = [11, 12, 13, 14]
if 11 in L:
    L.remove(11)
if 13 in L:
    L.remove(13)
print(f"After removing 11 and 13: {L}")

After removing 11 and 13: [12, 14, 50, 60]

In [ ]:
# (iii) Sort L in ascending order
L = [11, 12, 13, 14]
L.sort()
print(f"Sorted in ascending order: {L}")

Sorted in ascending order: [11, 12, 13, 14]

In [ ]:
# (iv) Sort L in descending order
L = [11, 12, 13, 14]
L.sort(reverse=True)
print(f"Sorted in descending order: {L}")

Sorted in descending order: [14, 13, 12, 11]

In [ ]:
# (v) Search for 13 in L
L = [11, 12, 13, 14]
print(f"13 is {'present' if 13 in L else 'not present'} in the list.")

13 is not present in the list.

In [ ]:
# (vi) Count the number of elements present in L
L = [11, 12, 13, 14]
print(f"Number of elements: {len(L)}")

In [ ]:
# (vii) Sum all the elements in L
L = [11, 12, 13, 14]
print(f"Sum of all elements: {sum(L)}")

In [ ]:
# (viii) Sum all ODD numbers in L
L = [11, 12, 13, 14]
odd_sum = 0
for x in L:
    if x % 2 != 0:
        odd_sum += x
print(f"Sum of all odd numbers: {odd_sum}")

In [ ]:
# (ix) Sum all EVEN numbers in L
L = [11, 12, 13, 14]
even_sum = 0
for x in L:
    if x % 2 == 0:
        even_sum += x
print(f"Sum of all even numbers: {even_sum}")

In [ ]:
# (x) Sum all PRIME numbers in L
L = [11, 12, 13, 14]
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
prime_sum = sum(x for x in L if is_prime(x))
print(f"Sum of all prime numbers: {prime_sum}")

Sum of all prime numbers: 24

In [ ]:
# (xi) Clear all the elements in L
L = [11, 12, 13, 14]
L.clear()
print(f"List after clearing: {L}")

List after clearing: []

In [ ]:
# (xii) Delete L
L = [11, 12, 13, 14]
del L

In [ ]:
# Q2

In [40]:
# Initial dictionary
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
# New entry with key=8 and value=8.8
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[8] = 8.8
print(f"After adding key=8, value=8.8: {D}")

In [ ]:
# Remove key=2 from the dictionary
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.pop(2, None)  # Avoids error if key not found
print(f"After removing key=2: {D}")

In [ ]:
# Check if key=6 is present
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
print(f"Key 6 is {'present' if 6 in D else 'not present'} in the dictionary.")

In [ ]:
# Count number of elements
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
print(f"Number of elements in dictionary: {len(D)}")

In [ ]:
# Add all values
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
total = sum(D.values())
print(f"Sum of all values: {total}")

In [ ]:
# Update value of key=3 to 7.1
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[3] = 7.1
print(f"After updating key=3 to 7.1: {D}")

In [ ]:
# Clear the dictionary
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.clear()
print(f"Dictionary after clearing: {D}")

In [ ]:
# Q3

In [ ]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

In [ ]:
# Add 55 and 66 in Set S1
S1 = {10, 20, 30, 40, 50, 60}
S1.add(55)
S1.add(66)
print(f"Set S1 after adding 55 and 66: {S1}")

In [ ]:
# Remove 10 and 30 from Set S1
S1 = {10, 20, 30, 40, 50, 60}
S1.discard(10)
S1.discard(30)
print(f"Set S1 after removing 10 and 30: {S1}")

In [ ]:
# Check whether 40 is present in S1
S1 = {10, 20, 30, 40, 50, 60}
print(f"40 is {'present' if 40 in S1 else 'not present'} in Set S1.")

In [ ]:
# Find the union between S1 and S2
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
union_set = S1.union(S2)
print(f"Union of S1 and S2: {union_set}")

In [ ]:
# Find the intersection between S1 and S2
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
intersection_set = S1.intersection(S2)
print(f"Intersection of S1 and S2: {intersection_set}")

In [ ]:
# Find the difference S1 - S2
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
difference_set = S1.difference(S2)
print(f"S1 - S2: {difference_set}")

In [ ]:
# Q4

In [ ]:
# Print 100 random strings of length between 6 and 8
import random
import string

print("100 random strings (length between 6 and 8):")
for i in range(100):
    length = random.randint(6, 8)
    random_str = ''
    for j in range(length):
        random_str += random.choice(string.ascii_letters)
    print(f"{i+1}: {random_str}")

In [ ]:
# Print all prime numbers between 600 and 800
print("Prime numbers between 600 and 800:")
for num in range(600, 801):
    is_prime = True
    if num < 2:
        is_prime = False
    else:
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
    if is_prime:
        print(f"{num}", end=" ")
print()  # For a new line

In [ ]:
# Print numbers between 100 and 1000 divisible by both 7 and 9
print("Numbers divisible by both 7 and 9 between 100 and 1000:")
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(f"{num}", end=" ")
print()

In [ ]:
# Q5

In [56]:
import random

# Create two lists of 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for _ in range(10)]
list2 = [random.randint(10, 30) for _ in range(10)]
print(f"List 1: {list1}")
print(f"List 2: {list2}")

# (i) Common numbers in the two lists
common = list(set(list1) & set(list2))
print(f"(i) Common numbers: {common}")

# (ii) Unique numbers in both the lists
unique_list1 = list(set(list1) - set(list2))
unique_list2 = list(set(list2) - set(list1))
unique = unique_list1 + unique_list2
print(f"(ii) Unique numbers: {unique}")

# (iii) Minimum in both the lists
min_list1 = min(list1)
min_list2 = min(list2)
print(f"(iii) Minimum of List 1: {min_list1}")
print(f"(iii) Minimum of List 2: {min_list2}")

# (iv) Maximum in both the lists
max_list1 = max(list1)
max_list2 = max(list2)
print(f"(iv) Maximum of List 1: {max_list1}")
print(f"(iv) Maximum of List 2: {max_list2}")

# (v) Sum of both the lists
sum_list1 = sum(list1)
sum_list2 = sum(list2)
print(f"(v) Sum of List 1: {sum_list1}")
print(f"(v) Sum of List 2: {sum_list2}")
print(f"(v) Total Sum: {sum_list1 + sum_list2}")

List 1: [22, 18, 15, 13, 12, 16, 23, 10, 27, 18]
List 2: [30, 29, 25, 23, 10, 16, 18, 20, 30, 10]
(i) Common numbers: [16, 10, 18, 23]
(ii) Unique numbers: [12, 13, 15, 22, 27, 25, 20, 29, 30]
(iii) Minimum of List 1: 10
(iii) Minimum of List 2: 10
(iv) Maximum of List 1: 27
(iv) Maximum of List 2: 30
(v) Sum of List 1: 174
(v) Sum of List 2: 211
(v) Total Sum: 385

In [ ]:
# Q6

In [61]:
import random

# Create a list of 100 random numbers between 100 and 900
numbers = [random.randint(100, 900) for _ in range(100)]
print(f"Generated Numbers:\n{numbers}\n")

# (i) Find all odd numbers
odd_numbers = [num for num in numbers if num % 2 != 0]
print(f"(i) Odd Numbers ({len(odd_numbers)}):\n{odd_numbers}\n")

# (ii) Find all even numbers
even_numbers = [num for num in numbers if num % 2 == 0]
print(f"(ii) Even Numbers ({len(even_numbers)}):\n{even_numbers}\n")

# (iii) Find all prime numbers
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in numbers if is_prime(num)]
print(f"(iii) Prime Numbers ({len(prime_numbers)}):\n{prime_numbers}")

Generated Numbers:
[544, 441, 307, 899, 449, 371, 719, 874, 498, 266, 238, 870, 405, 262, 540, 466, 420, 717, 796, 142, 702, 341, 258, 767, 764, 781, 290, 827, 508, 771, 511, 152, 452, 332, 321, 208, 775, 334, 694, 877, 578, 702, 184, 332, 564, 205, 317, 416, 784, 852, 665, 280, 539, 137, 111, 509, 588, 633, 516, 209, 450, 217, 404, 154, 818, 174, 452, 506, 318, 264, 859, 163, 897, 577, 666, 106, 341, 393, 504, 110, 509, 698, 669, 566, 437, 522, 155, 166, 196, 159, 482, 712, 447, 115, 289, 859, 276, 678, 206, 805]

(i) Odd Numbers (43):
[441, 307, 899, 449, 371, 719, 405, 717, 341, 767, 781, 827, 771, 511, 321, 775, 877, 205, 317, 665, 539, 137, 111, 509, 633, 209, 217, 859, 163, 897, 577, 341, 393, 509, 669, 437, 155, 159, 447, 115, 289, 859, 805]

(ii) Even Numbers (57):
[544, 874, 498, 266, 238, 870, 262, 540, 466, 420, 796, 142, 702, 258, 764, 290, 508, 152, 452, 332, 208, 334, 694, 578, 702, 184, 332, 564, 416, 784, 852, 280, 588, 516, 450, 404, 154, 818, 174, 452, 506, 318, 264, 666, 106, 504, 110, 698, 566, 522, 166, 196, 482, 712, 276, 678, 206]

(iii) Prime Numbers (13):
[307, 449, 719, 827, 877, 317, 137, 509, 859, 163, 577, 509, 859]

In [ ]:
# Q7

In [62]:
# Define the dictionary
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}
with open("output.txt", "w") as file:
    for key, value in D.items():
        file.write(f"{key}, {value}\n")

Data has been written to output.txt successfully.

In [ ]:
# Q8

In [63]:
# Define the list
L = ["One", "Two", "Three", "Four", "Five"]

# Open the file in write mode
with open("length.txt", "w") as file:
    for word in L:
        file.write(f"{word}, {len(word)}\n")

Word lengths have been written to length_output.txt successfully.

In [ ]:
# Q9

In [ ]:
import random
import string

with open("random_strings.txt", "w") as file:
    for _ in range(100):
        length = random.randint(10, 15)
        random_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
        file.write(f"{random_str}\n")

In [ ]:
# Q10

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

with open("prime_600_800.txt", "w") as file:
    for num in range(600, 801):
        if is_prime(num):
            file.write(f"{num}\n")

In [ ]:
# Q11

In [ ]:
import time

start_time = time.time()

# Sample code block to measure
for i in range(1, 10001):
    pass

end_time = time.time()

print(f"Time taken by the program: {end_time - start_time:.6f} seconds")

In [ ]:
# Q12

In [ ]:
import time
import random
import matplotlib.pyplot as plt

sizes = [5000, 10000, 15000, 20000, 25000]
times = []

for n in sizes:
    numbers = [random.randint(1, 100000) for i in range(n)]
    start = time.time()
    numbers.sort()
    end = time.time()
    taken_time = end - start
    times.append(taken_time)
    print(f"{n} numbers sorted in {taken_time:.4f} seconds")

# Draw graph
plt.plot(sizes, times, marker='o')
plt.xlabel("Number of Elements")
plt.ylabel("Time Taken (seconds)")
plt.title("Sorting Time Graph")
plt.grid(True)
plt.show()

In [ ]:
# Q13

In [ ]:
students = {
    "Ram": [70, 80, 75, 85, 90],
    "Shyam": [60, 65, 70, 60, 55],
    "Geeta": [95, 90, 93, 88, 92]
}

averages = {}

for name in students:
    marks = students[name]
    avg = sum(marks) / 5
    averages[name] = avg
    print(f"{name}'s average: {avg}")

# Find highest and lowest average
highest = max(averages, key=averages.get)
lowest = min(averages, key=averages.get)

print(f"\nHighest average: {highest} = {averages[highest]}")
print(f"Lowest average: {lowest} = {averages[lowest]}")